{% extends "base.html" %}
{% load static %}
{% block title %} home-page {% endblock %}
{% block content %}

    <h2>ADD PRODUCT</h2>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" placeholder="product name" name="name" required>
        <input type="text" placeholder="price" name="price" required>
        <input type="text" placeholder="quantity" name="quantity" value="0" required>
        <input type="text" placeholder="select" name="category" list="category" required>
        <datalist id="category">
            {% if categories %}
                {% for category in categories%}
                    <option value="{{category}}">
                {% endfor %}
            {% endif %}
        </datalist>
        <input type="file" name="image" required>
        <button type="submit">Add product</button>

    </form>


{% endblock %}