{% extends 'base.html' %}
{% load math_tags %}
{% block title %}{% endblock %}
{% block custom-style %} {% endblock %}
{% block cart_item_count %}
    {% if cart_count %}
        {{cart_count}}
    {% else %}
        {{0}}
    {% endif %}
{% endblock%}

{% block content %}

    {% if cart %}
        <h2 class="cart-header">CART DETAILS</h2>
        <div class="cart-container">
            <div class="cart-column-headers-container grid-4">
                <p></p>
                <p class="cart-column-headers">Name</p>
                <p class="cart-column-headers">Price(₦)</p>
                <p class="cart-column-headers">Quantity</p>
                <p class="cart-column-headers"></p>
                <p class="cart-column-headers">total(₦)</p>
            </div>
            <form method="POST", action="{% url 'checkout' %}">
                {% csrf_token %}
            {% for item in cart %}
                <div class="cart-items-container grid-4">
                    <img src="{{item.item_image}}" alt="{{item.product_name}}" class="cart-items cart-product-img">
                    <input type="hidden" name="item-{{forloop.counter0}}-image" value="{{item.item_image}}">

                    <div class="cart-items">
                        {{item.product_name}}
                        <input type="hidden" name="item-{{forloop.counter0}}-name" value="{{item.product_name}}">
                    </div>

                    <div class="cart-items" id="{{item.product_name}}P">
                        {{item.price}}
                        <input type="hidden" name="item-{{forloop.counter0}}-price" value="{{item.price}}">
                    </div>
                    <div class="cart-items quantity-container">
                        <button class="cart-item-quantity-adjust-btn" type="button" onclick="totalCost('{{item.product_name}}P', '{{item.product_name}}Q', '{{item.product_name}}T', '-', 'item-total', 'cart-total', 'item-{{forloop.counter0}}-quantity', 'total-cost')">-</button>
                        <p class="cart-item-quantity" id="{{item.product_name}}Q">{{item.quantity}}</p>
                        <input type="hidden" name="item-{{forloop.counter0}}-quantity" value="{{item.quantity}}" id="item-{{forloop.counter0}}-quantity">
                        <button class="cart-item-quantity-adjust-btn" type="button" onclick="totalCost('{{item.product_name}}P', '{{item.product_name}}Q', '{{item.product_name}}T', '+', 'item-total', 'cart-total', 'item-{{forloop.counter0}}-quantity', 'total-cost')">+</button>
                    </div>
                    <a href="{% url 'remove-item' item.id %}" class="cart-items remove-item"><i alt="Remove" class="fa-solid fa-trash-can"></i></a>
                    <div class="cart-items item-total" id="{{item.product_name}}T">
                        {% with total=item.price|multiply:item.quantity %}
                            {{total}}
                        {% endwith %}
                        <input type="hidden" name="item-{{forloop.counter0}}-item-cost">
                    </div>
                </div>
            {% endfor %}
            <div class="total-cost-container grid-2">
                <div class="total-hidden-column"></div>
                <h3 class="cart-total-title">Total Cost</h3>
                <div class="total-hidden-column"></div>
                <div class="total-hidden-column"></div>
                <div class="total-hidden-column"></div>
                <div class="cart-total">
                    <span class="naira-sign">₦ </span>
                    <h3 id="cart-total">{{cart_total}}</h3>
                    <input type="hidden" name="total-cost" id="total-cost" value="{{cart_total}}">
                </div>
            </div>
        </div>
        <div class="cart-button-container grid-2">
            <button class="cart-button" href="{% url 'checkout' %}">Checkout</button>
            <input type="hidden" name="total_item_count" value="{{cart|length}}">
        </form>
            <a class="cart-button clear-cart">Clear cart</a>
        </div>
    {% else %}
        {% for message in messages %}
        <h2 class="cart-empty-message">{{message}}</h2>
        {% endfor %}
    {% endif %}
    <h2 class="related-product-header">Related products</h2>
    <div class="few-products-container grid-4">
        {% for product in few_products %}
            <div class="product-container-cart">
                <img src="{{product.image_url}}" alt="{{product.name}} " class="product-image-cart">
                <div class="product-name-cart">{{product.name}}</div>
                <div class="product-price-cart">₦{{product.price}}</div>
                <button class="btn-add-cart btn-submit"><i class="fa-solid fa-cart-plus"></i></button>
            </div>
        {% endfor %}
    </div>
{% endblock %}