{% extends 'base.html' %}
{% load humanize %}
{% load math_tags %}
{% block title %}{% endblock %}
{% block custom-style %} {% endblock %}
{% block cart_item_count %}
    {% if cart_count %}
        {{cart_count}}
    {% else %}
        {{0}}
    {% endif %}
{% endblock%}

{% block content %}
    {% block page-specific-content %}
    {% if cart %}
        <h2 class="cart-header">CART DETAILS</h2>
        <div class="cart-container">
            <div class="cart-column-headers-container grid-4">
                <p></p>
                <p class="cart-column-headers">Name</p>
                <p class="cart-column-headers">Price(₦)</p>
                <p class="cart-column-headers">Quantity</p>
                <p class="cart-column-headers"></p>
                <p class="cart-column-headers">total(₦)</p>
            </div>
            <form method="POST", action="{% url 'checkout' %}">
                {% csrf_token %}
            {% for item in cart %}
                <div class="cart-items-container grid-4">
                    <img src="{{item.item_image}}" alt="{{item.product_name}}" class="cart-items cart-product-img">
                    <input type="hidden" name="item-{{forloop.counter0}}-image" value="{{item.item_image}}">

                    <div class="cart-items">
                        {{item.product_name}}
                        <input type="hidden" name="item-{{forloop.counter0}}-name" value="{{item.product_name}}">
                    </div>

                    <div class="cart-items" id="{{item.product_name}}P">
                        {{item.price|floatformat:2|intcomma}}
                        <input type="hidden" name="item-{{forloop.counter0}}-price" value="{{item.price}}">
                    </div>
                    <div class="cart-items quantity-container">
                        <button class="cart-item-quantity-adjust-btn" type="button" onclick="totalCost('{{item.product_name}}P', '{{item.product_name}}Q', '{{item.product_name}}T', '-', 'item-total', 'cart-total', 'item-{{forloop.counter0}}-quantity', 'total-cost')">-</button>
                        <p class="cart-item-quantity" id="{{item.product_name}}Q">{{item.quantity}}</p>
                        <input type="hidden" name="item-{{forloop.counter0}}-quantity" value="{{item.quantity}}" id="item-{{forloop.counter0}}-quantity">
                        <button class="cart-item-quantity-adjust-btn" type="button" onclick="totalCost('{{item.product_name}}P', '{{item.product_name}}Q', '{{item.product_name}}T', '+', 'item-total', 'cart-total', 'item-{{forloop.counter0}}-quantity', 'total-cost')">+</button>
                    </div>
                    <button class="cart-items remove-item"  onclick="confirmAction('item-{{forloop.counter0}}'), 'confirm' " type="button"><i alt="Remove" class="fa-solid fa-trash-can" ></i></button>
                    <div class="modal-confirmation item-{{forloop.counter0}}" id="{{item.id}}">
                        <p class="confirmation-question">Do you want to delete item?</p>
                        <a href="{% url 'remove-item' item.id %}" class="confirmation confirm-delete">Yes</a>
                        <button class="confirmation cancel-delete" onclick="confirmAction('item-{{forloop.counter0}}', 'cancel')" type="button">No</button>
                    </div>
                    <div class="cart-items item-total" id="{{item.product_name}}T">
                        {% with total=item.price|multiply:item.quantity %}
                            {{total|floatformat:2|intcomma}}
                        {% endwith %}
                        <input type="hidden" name="item-{{forloop.counter0}}-item-cost">
                    </div>
                </div>
            {% endfor %}
            <div class="total-cost-container grid-2">
                <div class="total-hidden-column"></div>
                <h3 class="cart-total-title">Total Cost</h3>
                <div class="total-hidden-column"></div>
                <div class="total-hidden-column"></div>
                <div class="total-hidden-column"></div>
                <div class="cart-total">
                    <span class="naira-sign">₦ </span>
                    <h3 id="cart-total">{{cart_total|floatformat:2|intcomma}}</h3>
                    <input type="hidden" name="total-cost" id="total-cost" value="{{cart_total}}">
                </div>
            </div>
        </div>
        <div class="cart-button-container grid-2">
            <button class="cart-button" href="{% url 'checkout' %}">Checkout</button>
            <input type="hidden" name="total_item_count" value="{{cart|length}}">
        </form>
            <button class="cart-button clear-cart" onclick="confirmAction('modal-confirmation-cart', 'confirm')">Clear cart</button>
            <div class="modal-confirmation-cart">
                <p class="confirmation-question-cart">Want to clear cart?</p>
                <a href="{% url 'delete-cart' %}" class="confirmation-cart confirm-delete">Yes</a>
                <button class="confirmation-cart cancel-delete" onclick="confirmAction('modal-confirmation-cart', 'cancel')" type="button">No</button>
            </div>
        </div>
    {% else %}
        {% for message in messages %}
        <h2 class="cart-empty-message">{{message}}</h2>
        {% endfor %}
    {% endif %}
    {% endblock %}
    
{% endblock %}

{% block related-products %}
    <h2 class="related-product-header">Related products</h2>
    <div class="few-products-container grid-4">
        {% for product in related_products %}
            <div class="product-container-cart">
                <form method="POST" enctype="multipart/form-data" action="{% url 'add-to-cart' %}">
                    {% csrf_token %}
                    <input type="hidden" name="product_id" value="{{product.id}}" type="hidden">
                    <img src="{{product.image_url}}" alt="{{product.product_name}} " class="product-image-cart">
                    <input type="hidden" name="product_image" value="{{product.image_url}}" type="hidden">
                    <div class="product-name-cart">{{product.name}}</div>
                    <input type="hidden" name="product_name" value="{{product.name}}" type="hidden">
                    <div class="product-price-cart">₦{{product.price|intcomma}}</div>
                    <input type="hidden" name="product_price" value="{{product.price}}" type="hidden">
                    <input type="hidden" name="product_quantity" value="1" type="hidden">
                    <button class="btn-add-cart btn-submit" type="submit"><i class="fa-solid fa-cart-plus"></i></button>
                </form>
            </div>
        {% endfor %}
    </div>
{% endblock %}