{% extends 'cart.html' %}
{% load static %}
{% load humanize %}
{% block title %} {% endblock %}
{% block custom-style %}
    <style>
        .checkout-image {
            background-image: url({% static '../static/images/WhatsApp_Image_2025-06-05_at_9.54.01_AM-removebg-preview.webp'%});
            background-repeat: no-repeat;
            background-color: rgba(0, 0, 0, 0.71);
            background-blend-mode: overlay;
        }

    </style>
{% endblock %}
{% block page-specific-content %}

<div class="checkout-main">
    <div class="checkout-container">
        <div class="payment-details">
            <div class="payment-details-title">
                <h3 class="field-title">ACCOUNT NAME:</h3>
                <h3 class="field-title">ACCOUNT NOS:</h3>
                <h3 class="field-title">BANK NAME:</h3>
            </div>
            <div class="payment-details-value">
                <p class="field-value">ESHO LYDIA ELIZABETH</p>
                <p class="field-value">0227367316</p>
                <p class="field-value">GTBANK</p>
            </div>
        </div>
        <h4 class="amount-to-pay-label">Amount to pay: <span class="amount-to-pay">₦{{amount_to_pay|floatformat:2|intcomma}}</span></h4>
        <p class="payment-note">please ensure the amount sent is the same as what is displayed above. </p>
        <form method="POST" enctype="multipart/form-data" action="{% url 'payment' %}">
            {% csrf_token %}
        <label>Upload proof of payment<input type="file" name="image" class="payment-proof" required>
        <button class="payment-completed" type="submit">I Have completed payment</button> 
        </form>       
    </div>
    {% if messages %}
        {% for message in messages%}
            <p>{{message}}</p>
        {% endfor %}
    {% endif %}
    <div class="checkout-image"></div>
</div>
{% endblock %}