{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block title %}home-page{% endblock %}
{% block cart_item_count %}
    {% if cart_count %}
        {{cart_count}}
    {% else %}
        {{0}}
    {% endif %}
{% endblock %}
{% block content %}

    <style>
        header {
            background-image: url("{% static "../static/images/Happy-woman-holding-out-hair-1296x728-header-1296x728.webp"%}")
        }
    </style>
    <header class="header" style="background-image: ">
        <h1 class="header_title">
            LIZZY HAIRAPY
        </h1>
        <p class="header_description">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium, quaerat nobis?
                Illum non voluptates in odio. Ab rem,porro sequi delectus ea vel, incidunt sapiente autem,
                inventore dolorem natus iusto.
        </p>
            <form method="GET" class="search-bar-container">
                {% csrf_token %}
                <input type="text" placeholder="Enter product name" class="search-bar" name="search">
                <button  type="submit"class="btn-search"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        
    </header>
    <section class="products-display">
        <div class="filter-section">
            <h1 class="all-products-header">
                Check out our products
            </h1>
            <div class="filter-container">
                <form method="GET" class-"filter-form">
                    {% csrf_token %}
                    <input type="radio" name="price" value=">" class="filter-radio">above
                    <input type="radio" name="price" value="<" class="filter-radio">below
                    <input type="text" name="price-field"placeholder="price" class="filter-price">
                    <input type="text" name="category"list="categories" placeholder="category" class="filter-category">
                    <datalist id="categories">
                        {% if categories %}
                            {% for category in categories %}
                                <option value="{{category}}">
                            {% endfor %}
                        {% endif %}
                    </datalist>
                    <button type="submit">find</button>
                </form>
            </div>
        </div>
        {% if products %}
            <div class="products-container">
                {% for product in products %}
                <form method="POST" action="{% url 'add-to-cart' %}">
                    {% csrf_token %}
                    <div class="products">
                        <div class="img-container">
                            <div class="img-alt"></div>
                            <img src="{{product.image_url}}" alt="Hair 1" class="hair-img">
                            <input type="hidden" value="{{product.image_url}}" name="product_image">
                            <input type="hidden" value="{{product.id}}" name="product_id">
                        </div>
                        <h3 class="hair-title">{{product.name}}</h3>
                        <input type="hidden" value="{{product.name}}" name="product_name">
                        <p class="hair-price">₦{{product.price|floatformat:0|intcomma}}</p>
                        <input type="hidden" value="{{product.price}}" name="product_price">
                        <div class="qty-btn">
                            <div class="qty-control-container">
                                <button type="button" class="qyt-decrease-btn button" onclick="quantityBtn('decrease', '{{product.name}}')">-</button>
                                <input type="text" value= "0" class="qty-selected" id="{{product.name}}" name="product_quantity">
                                <button type="button" class="qty-increase-btn button" onclick="quantityBtn('increase', '{{product.name}}')">+</button>
                            </div>
                        </div>
                        <button type="submit" class="add-to-cart button">Add to cart&nbsp;&nbsp;<i class="fa-solid fa-cart-plus"></i></button>
                    </div>
                </form>
                {% endfor %}
            </div>
        {% else %}
            <h1 class="all-products-header">
                No product matches your search.....
            </h1>
        {% endif %}

        <div class="pagination">
            {% if products.has_previous %}
                <a href="?page={{ products.previous_page_number }} " class="pagination-control">Previous</a>
            {% endif %}

            <span> {{ products.number }} of {{ products.paginator.num_pages }} </span>

            {% if products.has_next %}
                <a href="?page={{ products.next_page_number }}" class="pagination-control">Next</a>
            {% endif %}
        </div>

    </section>
{% endblock %}