{% extends "base.html" %}
{% load static %}
{% block title %} home-page {% endblock %}
{% block custom-style%}
    <style>
        body {
            background-image: url("{% static '../static/images/Happy-woman-holding-out-hair-1296x728-header-1296x728.webp'%}");
            background-size: cover;
            background-repeat: no-repeat;
            background-color: rgba(0, 0, 0, 0.72);
            background-blend-mode: overlay;
        }
    </style>
{% endblock %}
{% block content %}

        <form method="POST" enctype="multipart/form-data" class="registration-form">
            {% csrf_token %} 
            <h2 class="add-product-title">LOGIN</h2>
            {% if messages %}
                {% for message in messages %}
            <input type="text" placeholder="enter username" name="username" class="registration-field" required>
            <input type="text" placeholder="enter password" name="password" class="registration-field"  required>
                    {{message}}
                {% endfor %}
            {% endif %}
            <button type="submit" class="registration-field submit-btn">Register</button> 
        </form>
    
{% endblock %}