{% extends "base.html" %}
{% load static %}
{% block title %}login-page{% endblock %}
{% block custom-style%}
    <style>
        .login-image {
             background-image: url({% static '../static/images/add-product.webp'%});
        }

    </style>
{% endblock %}
{% block content %}
    <div class="login-container">
            <form method="POST" enctype="multipart/form-data" class="login-form">
                {% csrf_token %} 
                <h2 class="login-form-title">LOGIN</h2>
                <input type="text" placeholder="Enter username" name="username" class="login-field" required>
                <input type="text" placeholder="Enter password" name="password" class="login-field"  required>
                {% if messages %}
                    {% for message in messages %}
                        <p class="messages">{{message}}</p>
                    {% endfor %}
                {% endif %}
                <button type="submit" class="login-field submit-btn login-btn">Login</button> 
            </form>
        <div class="login-image"></div>
    </div>
        
{% endblock %}