{% extends 'profile.html' %}
{% load humanize %}
{% block custom-style %}
    <style>
        .order {
                background-color: rgba(24, 24, 24, 0.807);
                color: #f7f7f7;
        }
    </style>
{% endblock %}
{% block heading %} ORDER HISTORY {% endblock %}
{% block right_container %}
    <div class="cart-container confirmed-orders-container order-history ">
        <div class="cart-column-headers-container grid-4">
            <p class="cart-column-headers">OrderId</p>
            <p class="cart-column-headers">Order Details</p>
            <p class="cart-column-headers">Total Cost(₦)</p>
            <p class="cart-column-headers">Status</p>
        </div>
        {% if orders %}
            {% for order in orders%}
                <div class="cart-items-container grid-4">
                    <div>
                        {{order.orderId}}
                    </div>
                    <a href="{{order.proof_of_payment}}">
                        click here  
                    </a>
                    <div>
                    {{order.total_cost|floatformat:2|intcomma}}
                    </div>
                    {% if order.status%}
                        <div>
                            <div class="order-history-pending">{{order.status}}</div>
                        </div>
                    {% else %}
                        <div>
                            <div class="order-history-confirmed">Confirmed</div>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}

        <div class="pagination order-history-paginated">
            {% if orders.has_previous %}
                <a href="?page={{ orders.previous_page_number }} " class="pagination-control">Previous</a>
            {% endif %}

            <span> {{ orders.number }} of {{ orders.paginator.num_pages }} </span>

            {% if orders.has_next %}
                <a href="?page={{ orders.next_page_number }}" class="pagination-control">Next</a>
            {% endif %}
        </div>
    </div>


{% endblock %}