{% extends 'cart.html' %}
{% load humanize %}
{% block title %}{% endblock %}
{% block custom-style %}{% endblock %}
{% block content %}
    <div class="profile-container">
        <div class="profile-left-container">
            <button class="left-items profile-page-active details" onclick="profileItems('left-items', 'details')">details</button>
            <a href="{% url 'order-history' %}"><button class="left-items order" onclick="profileItems('left-items', 'order')">order history</button><a/>
            <button class="left-items wishlist" onclick="profileItems('left-items', 'wishlist')">Wishlist</button>
            <button class="left-items delete" onclick="profileItems('left-items', 'delete')">delete account</button>
        </div>
        <div class="profile-right-container">
            {% if user_profile %}
                <div class="user-profile-details">
                    <div>username - <span class="details-info">{{user_profile.username}}</span></div>
                    <div>email - <span class="details-info">{{user_profile.email}}</span></div>
                </div>
                <a class="profile-update-btn">Update details</a>
            {% endif %}
        </div>

    </div>
{% endblock %}

