{% extends "base.html" %}
{% load static %}
{% block title %}registration-page{% endblock %}
{% block custom-style%}
    <style>
        .registration-image {
            background-image: {% block registration-image %}url({% static '../static/images/product-added3.webp'%});{% endblock %}
  
        }
    </style>
{% endblock %}
{% block content %}
    <div class="registration-container">

        {% if context %}

            <form method="POST" enctype="multipart/form-data" class="registration-form">
                {% csrf_token %}
                <h2 class="registration-form-title">{% block header%}SIGN UP{% endblock %}</h2>

                {% if messages %}
                
                {% for message in messages %}
                        {% if "success" in message.tags %}
                            <p class="messages success">{{message}}</p>
                        {% elif "required" in messages %} 
                            <p class="messages">{{message}}</p>
                        {% endif%}     
                <input type="text" placeholder="Enter username" value={{context.username}}  name="username" class="registration-field" required>
                        {% if 'username' in message.tags %}
                            <p class="messages">{{message}}</p>
                        {% endif %}
                <input type="text" placeholder="Enter email" value={{context.email}}  name="email" class="registration-field" required>
                        {% if 'email' in message.tags or 'valid-email' in message.tags %}
                            <p class="messages">{{message}}</p>
                        {% endif %}     
                <input type="text" placeholder="Enter password" name="password" class="registration-field"  required>
                        {% if 'pattern' in message.tags %}
                            <p class="messages">{{message}}</p>
                        {% endif %}     
                <input type="text" placeholder="confirm" name="confirm" class="registration-field" required>
                        {% if 'mismatch' in message.tags %}
                            <p class="messages">{{message}}</p>
                        {% endif %}     
                <button type="submit" class="registration-field submit-btn register-btn">{% block button %}Complete{% endblock %}</button>
                    {% endfor %}

                {%endif %}

            </form>
        {% else %}
            <form method="POST" enctype="multipart/form-data" class="registration-form">
                <h2 class="add-product-title">{% block header2 %}SIGN UP{% endblock %}</h2>
                
                {% csrf_token %} 
                <input type="text" placeholder="Enter username" name="username" class="registration-field" required>
                <input type="text" placeholder="Enter email" name="email" class="registration-field" required>
                <input type="text" placeholder="Enter password" name="password" class="registration-field"  required>
                <input type="text" placeholder="confirm" name="confirm" class="registration-field" required>
                
                <button type="submit" class="registration-field submit-btn register-btn">{% block button2 %}Complete{% endblock %}</button>
                
            </form>
        {% endif %}

        <div class="registration-image"></div>

    </div>
        

{% endblock %}