{% extends "base.html" %}
{% load static %}
{% block title %} home-page {% endblock %}
{% block custom-style %}
    <style>
        .add-product,
        .update-product,
        .completed-order,
        .pending-order,
        .create-admin,
        .delete-product,
        .confirmed-order {
            background-image: url({% static "../../static/images/add-product.webp"%});
            background-size: contain;
            background-repeat: no-repeat;
            background-color:  rgba(0, 0, 0, 0.41);
            background-blend-mode: overlay;

        }
        .update-product {
             background-image: url({% static "../../static/images/update-product.webp"%});
        }
        .completed-order {
             background-image: url({% static "../../static/images/completed-orders.webp"%});
        }
        .pending-order {
             background-image: url({% static "../../static/images/pending-orders.webp"%});
        }
        .create-admin {
             background-image: url({% static "../../static/images/create-admin.webp"%});
        }
        .delete-product {
             background-image: url({% static "../../static/images/delete-product.webp"%});
        }
    </style>
{% endblock %}
{% block content %}
    <h1 class="admin-header">DASHBOARD</h1>
    <div class="admin-page-container">
        <a href="{% url 'add-product' %}"><div class="admin-cards add-product" >ADD PRODUCT</div></a>
        <a href="{% url 'update-product' %}"><div class="admin-cards update-product">UPDATE PRODUCT</div></a>
        <a href="{% url 'confirmed-orders' %}"><div class="admin-cards completed-order">COMPLETED ORDERS</div></a>
        <a href="{% url 'pending-orders' %}"><div class="admin-cards pending-order">PENDING ORDERS</div></a>
        <a href="{% url 'create-admin' %}"><div class="admin-cards create-admin">CREATE ADMIN</div></a>
        <a><div class="admin-cards delete-product">DELETE PRODUCT</div></a>
    </div>
{% endblock %}